In [16]:
import pandas as pd
import numpy as np
import gmaps


file = "speakeasies.csv"
df = pd.read_csv(file)
df.head()

,City,State,Name,Price,Rating,Reviews,Lat,Lng,Price(Scale)
0,New York,New York,Angel's Share,$$,4.5,1953,40.729710,-73.989149,2
1,New York,New York,Raines Law Room,$$$,4.5,1323,40.738690,-73.994620,3
2,New York,New York,Please Don't Tell,$$$,4.0,1628,40.727098,-73.983763,3
3,New York,New York,Patent Pending,$$$,4.0,102,40.745260,-73.990320,3
4,New York,New York,Attaboy,$$$,4.0,457,40.718887,-73.991335,3

In [26]:
print(f'The Correlation Coefficient between Ratings and Price is {df["Rating"].corr(df["Price(Scale)"])}')

The Correlation Coefficient between Ratings and Price is -0.06435154253685545